.container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
}
.card{
    width: 32%;
    height: 50vh;
    background: rgb(18, 18, 41);
    color: aliceblue;
    box-shadow: 0 0 0 2px rgb(160, 138, 138);
}
.card-title{
    text-align: center;
    text-transform: capitalize;
    color: aliceblue;
}
.card-image{
    height: 200px;
}
.card-detail{
    margin-top: 1rem;
   text-align: center;
   color: yellow;
}
.loadmore{
   align-self: center;
   display: flex;
   justify-content: center;
}