#preloader {
  background: url("https://thumbs.gfycat.com/ZealousFineHochstettersfrog-size_restricted.gif");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 100px;
  right: 15%;
  z-index: 1;
}