body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

sidebar {
    display: grid;
    grid-template-columns: 70% 30%;
}

.left-sidebar {
    box-shadow: 0 0 4px black;
}

.items-box {
    display: flex;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    width: 90%;
    height: 8rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.items-image {
    width: 9rem;
    height: 8rem;
    overflow: hidden;
    border-radius: 20%;
}

.item-image img {
    width: 100%;
    height: 100%;
}

.title {
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 30px;
    text-align: center;
    color: black;
}

.description {
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;

}

.detail-box {
    color: rgba(225, 29, 39, 0.7);
}